snippet jqready
	$(document).ready(function() {
	  // global setting
	  $.ajaxSetup({
	    dataType: 'json',
	    contentType: 'application/json; charset=utf-8',
	  });
	});

snippet jqajax
	$.ajax({
	  url: '/api',
	  method: 'POST',
	  data: JSON.stringify(obj),
	}).done(function(data, textStatus, jqXHR) {
	}).fail(function(jqXHR, textStatus, errorThrown) {
	}).always(function(data, textStatus, errorThrown) {
	}).then(function(data, textStatus, jqXHR) {
	});
